openapi: "3.1.1"
info:
  title: "API Specification Template (TEST)"
  description: |
    API Specification Template with OpenAPI Spec 3.1.1 support.

    # Resources

    * https://github.com/scalar/scalar
    * https://github.com/OAI/OpenAPI-Specification
    * https://scalar.com
  version: "0.0.1"

servers:
  - url: http://localhost:80

paths:
  /users:
    get:
      summary: Get all users
      responses:
        "200":
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int64
                    name:
                      type: string
                    email:
                      type: string
                      format: email
